<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forfoodiesbyfoodies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForFoodiesByFoodies">
        <activity
            android:name=".PageBooking"
            android:exported="false" />
        <activity
            android:name=".PageUserProfileView"
            android:exported="false" />
        <activity
            android:name=".FormUserProfileEdit"
            android:exported="false" />
        <activity
            android:name=".FormCreateReview"
            android:exported="false" />
        <activity
            android:name=".PageReviewsSingle"
            android:exported="false" />
        <activity
            android:name=".PageReviewsList"
            android:exported="false" />
        <activity
            android:name=".PageRestaurantSingle"
            android:exported="false" />
        <activity
            android:name=".FormAddStreetFood"
            android:exported="false" />
        <activity
            android:name=".FormAddRestaurantAdmin"
            android:exported="false" />
        <activity
            android:name=".PageRestaurantList"
            android:exported="false" />
        <activity
            android:name=".FormRegisterAdmin"
            android:exported="false" />
        <activity
            android:name=".FormReset"
            android:exported="false" />
        <activity
            android:name=".FormRegister"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FormLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>